* {
  font-family: "Montserrat", sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body.background {
  background-color: #333331;
}

li {
  text-decoration: none;
  list-style-type: none;
  padding: 7px;
}

li a {
  color: #ffff;
}

h1 {
  color: #ffff;
  text-align: center;
  padding-top: 20px;
}

h1:hover {
  color: #337CA0;
}

h4 {
  color: #ffff;
  text-align: center;
  padding-top: 20px;
}

p {
  color: #ffff;
  text-align: center;
  padding-top: 20px;
}

h2 {
  color: #ffff;
  text-align: center;
  padding-top: 20px;
}

h6 {
  color: #ffff;
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
  position: absolute;
  bottom: 0px;
  margin-left: auto;
}

h6:hover {
  color: #337CA0;
}

p.top {
  color: #333331;
  text-align: left;
}

div.content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

div.content div.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

div.content div.projects span a.link {
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}

div.content div.projects span::before {
  content: '<';
  left: 0;
}

div.content div.projects span::after {
  content: '/>';
  position: absolute;
  right: 0;
}

div.content div.projects span:after, div.content div.projects span:before {
  position: absolute;
  top: 0;
  color: #16a085;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.text {
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  height: 40px;
}

h4 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
}

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #333331;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

div.fa-links {
  position: relative;
  padding-top: 50px;
  padding-left: 120px;
  width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.main {
  background-image: url(./assets/img/computer-dark.jpg);
  background-size: cover;
  height: 100vh;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

.main:hover {
  -webkit-box-shadow: 0 0 3px #337CA0;
  box-shadow: 0 0 10px #337CA0;
}

.about {
  height: 100vh;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  padding-bottom: 20px;
  background-color: #202C39;
}

.about:hover {
  -webkit-box-shadow: 0 0 3px #ffff;
  box-shadow: 0 0 10px #ffff;
}

p.about-me {
  margin-top: 10px;
}

span.info {
  display: block;
  text-align: center;
}

.project {
  background-image: url(./assets/img/wallpaper_dark.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

.project:hover {
  -webkit-box-shadow: 0 0 3px #337CA0;
  box-shadow: 0 0 10px #337CA0;
}

.skills {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #5D5D81;
}

.skills:hover {
  -webkit-box-shadow: 0 0 3px #ffff;
  box-shadow: 0 0 10px #ffff;
}

.contact {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #59648E;
}

.contact:hover {
  -webkit-box-shadow: 0 0 3px #ffff;
  box-shadow: 0 0 10px #ffff;
}

.me {
  max-width: 150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.me:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.7);
}

.fa-free-code-camp, .fa-codepen {
  font-size: 50px;
  color: #ffff;
  text-align: center;
  margin: 15px;
}

.fa-free-code-camp:hover, .fa-codepen:hover {
  color: #337CA0 !important;
}

.fa-twitter, .fa-github-square, .fa-linkedin, .fa-instagram, .fa-envelope {
  font-size: 50px;
  color: #ffff;
  text-align: center;
  margin: 15px;
}

.fa-twitter:hover, .fa-github-square:hover, .fa-linkedin:hover, .fa-instagram:hover, .fa-envelope:hover {
  color: #337CA0 !important;
}

.fa-bold, .fa-font-awesome-alt, .fa-html5, .fa-js-square, .fa-sass, .fa-css3-alt {
  font-size: 50px;
  color: #ffff;
  text-align: center;
  margin: 15px;
}

.fa-bold:hover, .fa-font-awesome-alt:hover, .fa-html5:hover, .fa-js-square:hover, .fa-sass:hover, .fa-css3-alt:hover {
  color: #337CA0 !important;
}

a.navbar-brand {
  font-weight: bold !important;
  color: #ffff !important;
  font-size: 40px;
  text-decoration: none;
  margin-left: 20px;
}

a.navbar-brand:hover {
  text-decoration: none;
  color: #337CA0 !important;
}

ul.navbar-nav {
  margin-left: 20px;
}

.nav-item {
  color: #ffff;
}

a:hover {
  color: #337CA0 !important;
  text-decoration: none;
}

.code-container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
}

.code {
  color: #333331;
  width: 250px;
  background-color: white;
  margin: auto;
  width: 20%;
  margin-top: 50px;
  padding: 2px;
  border-radius: 5px;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}
/*# sourceMappingURL=stylesheet.css.map */