* {
    font-family: 'Montserrat', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}
body.background{
        background-color: #333331;
   
}
li {
    text-decoration: none;
    list-style-type: none;
    padding: 7px;
}
h1, h2, h4, p {
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
}

h6 {
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    font-size: 40px; 
    position: absolute;
    bottom: 0px;
    margin-left: auto;
}

p {
    color: #FFFFFF;
    
}

p.top{
    color: #333331;
    
}
div.projects-container {
    margin-left: 100px;
}
div.projects {
    margin-left: 100px;
    display: inline-block;
   
}

div.fa-links {
   position: relative;
   padding-top: 50px;
   padding-left: 120px;
   width: 40em;
   margin-left:  auto;
   margin-right: auto;
}


h1:hover, h6:hover {
    color: #337CA0;
}
.main {
    background-image: url(./assets/img/computer-dark.jpg);
    background-size: cover;
    width: 95vw;
    height: 95vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative
}

.main:hover, .project:hover {
    -moz-box-shadow: 0 0 10px #337CA0 ;
    -webkit-box-shadow: 0 0 3px #337CA0 ;
    box-shadow: 0 0 10px #337CA0 ;
}
.about{
    width: 95vw;
    height: 95vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color:#202C39;
}
.me{
    vertical-align: middle;
    max-width: 150px;
    width: 150px;
    height: auto;
    border-radius: 50%;
}
.about:hover, .skills:hover, .contact:hover {
    -moz-box-shadow: 0 0 10px #ffffff ;
    -webkit-box-shadow: 0 0 3px #ffffff ;
    box-shadow: 0 0 10px #ffffff ;
}

.project {
    background-image: url(./assets/img/wallpaper_dark.jpg);
    background-size: cover;
    background-attachment: fixed;
    width: 95vw;
    height: 95vh;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative
}

.skills {
    width: 95vw;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #5D5D81;
}
.contact {
    width: 95vw;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #59648E;
}

.fa-github-square, .fa-twitter, .fa-codepen, .fa-linkedin, .fa-envelope {
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin: 15px;

}
.fa-github-square:hover, .fa-twitter:hover, .fa-codepen:hover, .fa-linkedin:hover, .fa-envelope:hover {
    color:#337CA0 !important;
}

.fa-css3-alt,.fa-sass, .fa-html5, .fa-js-square, .fa-font-awesome-alt {
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin: 15px;
}

.fa-css3-alt:hover,.fa-sass:hover, .fa-html5:hover, .fa-js-square:hover, .fa-font-awesome-alt:hover {
    color:#337CA0 !important;
}

a.navbar-brand {
    font-weight: bold !important;
    color: #FFFFFF !important;
    font-size: 40px;
    text-decoration: none;
    margin-left: 20px;
}
ul.navbar-nav {
    margin-left: 20px;
}

.nav-item {
    color: #FFFFFF; 
}
li a {
    color: #FFFFFF;

} 
a:hover {
    color:#337CA0 !important;
    text-decoration: none;
}
a.navbar-brand:hover  {
        text-decoration: none;
        color:#337CA0 !important;
}

.code-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.code {
    color: #333331;
    width: 250px;
    background-color: white;
    border-radius: 5px;
   
}

@media (max-width : 375px) {
    /* Styles */
    a.navbar-brand {
        font-size: 30px;
    }
    h1{
        font-size: 30px;
    }
    div.main {
    background-size: cover;
    background-position: center;
    }  
    .me{
        max-width: 40%;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}




